<!-- This is an example component -->
<div class="min-h-screen flex items-center  justify-center px-4">


      <table  class="  mat-elevation-z8 confirm" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <thead>
          <tr>
            <th class="sticky top-0 px-6 py-3 text-center  text-black font-bold bg-gray-200">N°</th>

            <th class="sticky top-0 px-6 py-3 text-center
             text-black font-bold bg-gray-200">Nom de logement</th>
            <th class="sticky top-0 px-6 py-3 text-center  text-black font-bold bg-gray-200">prix</th>
            <th class="sticky top-0 px-6 py-3 text-center  text-black font-bold bg-gray-200">client</th>
          </tr>
        </thead>
          <tr   >
            <td class=" px-6 py-4 text-center">1</td>

            <td class=" px-6 py-4 text-center">residence amir</td>
            <td class="px-6 py-4 text-center">500 DT</td>

            <td class="px-6 py-4 text-center">Ahmed Ben salah
              <div class="pt-4">
                <button class="bg-green-300 px-6  font-bold">détails</button>
              </div>
            </td>

          </tr>
          <tr   >
            <td class=" px-6 py-4 text-center">2</td>

            <td class=" px-6 py-4 text-center">residence el hani</td>
            <td class="px-6 py-4 text-center">450DT</td>
            <td class="px-6 py-4 text-center">ali brahmi
              <div class="pt-4">
                <button class="bg-green-300  px-6 font-bold">détails</button>
              </div>
            </td>

          </tr>
          <tr   >
            <td class=" px-6 py-4 text-center">3</td>

            <td class=" px-6 py-4 text-center">foyer brahem</td>
            <td class="px-6 py-4 text-center">400 DT</td>
            <td class="px-6 py-4 text-center">salma HAJ ALI
              <div class="pt-4">
                <button class="bg-green-300  px-6 font-bold">détails</button>
              </div>
            </td>

          </tr>



          <pagination-controls (pageChange)="p =$event"></pagination-controls>








      </table>








</div>

