<div class="sidenav">

  <a routerLink="/gestionc">Gestion des clients</a>

<h4 routerLink="/gestionr">Gestion des residences</h4>
<a routerLink="/reservation"> Reservations</a>
<a routerLink="/parametre"> Parametres</a>

</div>
<div class="main">
  <div class="topnav">
    <a class="navbar-brand">
      <img src="../../assets/images/logo.png" width="90" height="60" alt="">

    </a>    <a href="#about">Ajouter une residence</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search by governorate" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

  </div>
</div>

<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="../../assets/images/r1.jpg" alt="Cinque Terre" width="700" height="400">
  </a>
  <div class="desc">description</div>

  <div class="desc">modifier,supprimer</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="../../assets/images/r2.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">description</div>

  <div class="desc">modifier,supprimer</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="../../assets/images/r3.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">description</div>

  <div class="desc">modifier,supprimer</div>
</div>



