
     <!-- SEARCH BAR -->
     <div class="col-md-6">
      <div class="header-search">
        <form>
          <select class="input-select">
            <option value="0">choose gouvernorat</option>
            <option value="1">Monastir</option>
            <option value="2">Tunis</option>
            <option value="2">Sfax</option>
            <option value="2">Sousse</option>
            <option value="2">Gabes</option>
            <option value="2">Ariana</option>
            <option value="2">Manouba</option>
            <option value="2">Ben arous</option>
            <option value="2">Jandouba</option>
            <option value="2">Sidi bouzid</option>
            <option value="2">Gbelli</option>
            <option value="2">Nabeul</option>
            <option value="2">Tauzer</option>
            <option value="2">Bizerte</option>
            <option value="2">Tataouine</option>


          </select>
          <input class="input" placeholder="Home,Apartment...">
          <button  class="s" routerLink ="nextpage"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
    <!-- /SEARCH BAR -->
