<div style="background-image: url('../../assets/images/back.jpg') ;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="../../assets/images/logo.png" width="120" height="70" alt="">
  </a>

</nav>

<div class="row justify-content-md-center">
    <div class="card text-center" style="width:350px;" >
      <div class="card-body p-5"  >
        <form>
            <div class="form-group">
              <input type="email" name="email" class="form-control"  id="exampleInputEmail1 "  placeholder="Email"  aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">Entrez votre e-mail</small>
            </div>
            <div class="form-group">
              <input type="password"  name="pass" class="form-control" placeholder="Password" id="exampleInputPassword1">
              <small id="emailHelp" class="form-text text-muted">Entrez votre passe </small>
            </div>
            <button (click)="btnClick()" name="submit" class="btn btn-primary">Connecter</button>
      </form>
    </div>
  </div>
</div>
