<h1 mat-dialog-title class="flex text-center">Confirmation</h1>
<hr>
<mat-dialog-content >
    <span class="font-mono text-gray-900">{{message}}</span>
</mat-dialog-content>
<mat-dialog-actions class="flex flex-row justify-between py-5">
    <div class="flex items-center">
        <button mat-raised-button color="primary" (click)="confirm()">
            Yes
        </button>
    </div>
    <div class="flex items-center">
        <button mat-raised-button mat-dialog-close color="warn"   (click)="cancel()">
            No
        </button>
    </div>

</mat-dialog-actions>
