<!-- This is an example component -->
<app-navbaradmin></app-navbaradmin>
<div class="min-h-screen flex items-center  justify-center px-4">

  <div class="max-w-4xl w-full  bg-white  rounded-lg shadow-xl">
    <button mat-raised-button >
      <mat-icon>add</mat-icon>Ajouter
    </button>
      <table  class="  mat-elevation-z8 ">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <thead>
          <tr>
            <th class="sticky top-0 px-6 py-3 text-center  text-black font-bold bg-gray-200">Nom</th>
            <th class="sticky top-0 px-6 py-3 text-center  text-black font-bold bg-gray-200">Email</th>
            <th class="sticky top-0 px-6 py-3 text-center  text-black font-bold bg-gray-200">Telephone</th>
            <th class="sticky top-0 px-6 py-3 text-center  text-black font-bold bg-gray-200">Ville</th>
            <th class="sticky top-0 px-6 py-3 text-center  text-black font-bold bg-gray-200">Date de naissance</th>
            <th class="sticky top-0 px-6 py-3 text-center  text-black font-bold bg-gray-200">Action</th>
          </tr>
        </thead>
        <tbody class="divide-y bg-white">
          <tr   *ngFor="let user of users | orderBy : key:reverse | paginate: {itemsPerPage:5,currentPage:p}; ">

            <td class=" px-6 py-4 text-center">{{user.nom}}</td>
            <td class="px-6 py-4 text-center">{{user.email}}</td>
            <td class="px-6 py-4 text-center">{{user.telephone}}</td>
            <td class="px-6 py-4 text-center">{{user.ville}}</td>
            <td class="px-6 py-4 text-center">{{user.datenaissance | date: "dd-MM-yyyy"}}</td>
            <td class="text-center">

              <button  [routerLink]="['/admin/admin-sakkani/editu',user._id]" class="p-6"> <mat-icon class="green-icon">create</mat-icon>
              </button>
              <button> <mat-icon class="red-icon" (click)="deleteUs(user._id)">delete</mat-icon>
            </button>
          </tr>





        </tbody>

        <pagination-controls (pageChange)="p =$event"></pagination-controls>


      </table>

              </div>







</div>

