

            <!-- image search box -->
            <div class=" px-4 box pt-6">
              <div class="box-wrapper">

                  <div class=" bg-white rounded flex items-center w-full p-3 shadow-md border border-gray-200">
                    <button  class="outline-none focus:outline-none"><svg class=" w-5 text-gray-600 h-5 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
                    <input name="type_immobilier" [(ngModel)]="type_immobilier"  (ngModelChange)="Search() " type="search" name="" id="" placeholder="type immobilier,ville,.."
                     type="search" name="" id="" placeholder="type immobilier,ville,..." x-model="q" class="w-full pl-4 text-sm outline-none focus:outline-none bg-transparent ">

                  </div>

              </div>
          </div>


 <div class=" py-4 flex-auto grid grid-cols-3 2 xs:flex xs:flex-column md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4">
<app-card class=
"transition-transform transform hover:scale-105 cursor-pointer duration-300 ease-in-out px-3"
 *ngFor="let data of maisons">
 <div class="rounded-xl shadow-xl">
  <img class="rounded-t-xl  w-full h-36 object-cover" [src]="data.Photo">
  <div class="flex flex-col p-7">
      <div class="flex flex-row">
          <div class=" text-xs uppercase bg-yellow-100 p-1 px-2 text-yellow-700 rounded-2xl">{{data.prix}}</div>
      </div>
      <h2 class="text-xl font-bold truncate mt-1">{{data.nom}}</h2>

       <h2 class="text-xl font-bold truncate mt-1">{{data.type_immobilier}}</h2>
       <h2 class="text-xl font-bold truncate mt-1">{{data.annonceur.ville}}</h2>

     <!-- <p class="text-base text-gray-600 mt-1">{{data.description}}</p> -->
      <div class="flex flex-row mt-5 items-center justify-start">

  </div>
       <!-- <button mat-stroked-button matTooltip="Delete Maison" (click)="deleteMa(data._id)"><mat-icon color="warn">delete</mat-icon></button> -->
    <button class="bg-green-600 opacity-75 hover:opacity-100 text-white hover:text-gray-900 rounded-full px-10 py-2 " [routerLink]="['/home/description', data._id]"> détails <i class="mdi mdi-arrow-right"></i> </button>

</div>
</div>
</app-card>
</div>
<!-- This is an example component -->

    <!-- <div *ngFor="let data of maisons" class=" blogs__wraper bg-green-300  py-20 px-20">

        <div class="flex justify-between items-center">

     <div class="blogs bg-white mr-5">
         <img  [src]="data.Photo" class="">
         <div class="p-5">
        <h1 class="text-2xl font-bold text-green-800 py-2"> {{data.type_immobilier}}</h1>
         <p class="bg-white text-sm text-black">{{data.prix}}</p>
         <p class="bg-white text-sm text-black">{{data.annonceur.ville}}</p>

         <a href="" class="py-2 px-3 mt-4 px-6 text-white bg-green-500 inline-block rounded" [routerLink]="['/home/description', data._id]">Détails</a>
         </div>
     </div>

 -->
