<div class="sidenav">

    <h4 routerLink="/gestionc">Gestion des clients</h4>

  <a routerLink="/gestionr">Gestion des residences</a>
  <a routerLink="/reservation"> Reservations</a>
  <a routerLink="/parametre"> Parametres</a>

</div>

<div class="main">
  <div class="topnav">
    <a class="navbar-brand">
      <img src="../../assets/images/logo.png" width="90" height="60" alt="">
    </a>

    <a href="">Ajouter un client</a>

  </div>

</div>


<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>//</th>
  </tr>
  <tr>
    <td>Amira</td>
    <td>mostapha</td>
    <td>update , delete</td>
  </tr>
  <tr>
    <td>salma</td>
    <td>khairi</td>
    <td>update , delete</td>
  </tr>
  <tr>
    <td>ahmed</td>
    <td>dridi</td>
    <td>update , delete</td>
  </tr>




</table>

