<div class="container ">
  <div
    class="
      d-flex
      justify-content-between
      flex-wrap flex-md-nowrap
      align-items-center
      pt-3
      pb-2
      mb-3
      border-bottom
    "
  >
    <h2 class="text-gray-900 font-bold px-6  text-3xl">Liste de réservations</h2>

    <a
      class="
        bg-gray-300
        inline-block
        px-4
        py-2
        no-underline
        rounded-md
        hover:text-black
        hover:underline
        hover:bg-gray-500
      "
      [routerLink]="['/home/add']"
      routerLinkActive="router-link-active"
    >
      Réservations confirmées
    </a>
  </div>

  <div class="flex flex-col px-16 h-screen">
    <div class="flex-grow overflow-auto">
      <table class="relative w-full border">
      <thead>
        <tr>

          <th class="sticky top-0 px-6 py-3  text-center text-green-700 bg-green-300">Logement reservé</th>
          <th class="sticky top-0 px-6 py-3  text-center text-green-700 bg-green-300">N°Reservation</th>
          <th class="sticky top-0 px-6 py-3  text-center text-green-700 bg-green-300">date de reservation</th>

          <th class="sticky top-0 px-6 py-3  text-center text-green-700 bg-green-300">Confirmée</th>
          <th class="sticky top-0 px-6 py-3  text-center text-green-700 bg-green-300">Prix</th>
          <th class="sticky top-0 px-6 py-3  text-center text-green-700 bg-green-300">Client</th>
        </tr>
      </thead>
      <tbody class="divide-y bg-green-100">
        <tr *ngFor="let r of reservations; let i = index">
          <td class="px-6 py-4 text-center">
            <h3 class="text-indigo-900 font-bold">{{ r.house.nom }}</h3>
          </td>
          <td class="px-6 py-4 text-center"><h3 class="text-gray-900 font-bold">{{ i + 1 }}</h3></td>
          <td class="px-6 py-4 text-center">date..</td>

          <td class="text-center">
            <button class="p-6">
              <mat-icon class="green-icon">done</mat-icon>
            </button>
            <button  >
              <mat-icon class="red-icon" (click)="deleteMa(maison._id)"
                >delete</mat-icon
              >
            </button>

           <!-- [routerLink]="['/home/description', user._id]" -->
          </td>

          <td>
            <h3 class="text-gray-900 font-bold">{{ r.house.prix }}</h3>
          </td>
          <td>
            <h3 class="text-gray-900 font-bold">{{ r.client.nom }}</h3>
            <button class="bg-yellow-100 px-3 font-semibold "
         >
                details

            </button>
            <!-- [routerLink]="['/home/description', r._id]" -->
          </td>
          <!-- <button class="btn btn-sm btn-primary" (click)="updateUser(user._id)">Modifier</button> -->
          <!-- <button class="btn btn-sm btn-danger" (click)="deleteUs(user._id)" >Supprimer</button> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <a
class=" font-bold  absolute bottom-16 left-0 h-32 w-32 inline-block px-6  no-underline rounded-md text-green-900   "
[routerLink]="['/home/profil']"
routerLinkActive="router-link-active"
>
<mat-icon class="green-icon font-bold ">subdirectory_arrow_left</mat-icon> retour

</a> -->
