.red-icon {
  color: red;
}
.green-icon {
  color: green;
}
#customers {

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 120%;

  }
  .confirm{
    width:100%;
  }


  #customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  }


  #customers tr:hover {background-color: #ddd;}

  #customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:rgb(190, 180, 180) ;
  color: white;
  }
  #customers td  {
    font-family: 'Times New Roman', Times, serif;
      }

