
  <img class="object-cover object-center  " src="assets/images/aide.png"/>
<div class=" py-3  flex justify-center" >
  <button
   [routerLink]="['/home/show-residences']" class="bg-white-200     hover:bg-blue-300
  to-gray-500   text-gray-900 border-2 border-gray-900 font-semibold px-28 py-6 rounded-md">
  Rechercher et Réserver un logement
    </button>
    <button
    [routerLink]="['/home/add']" class="bg-white-200     hover:bg-blue-300
    to-gray-500   text-gray-900 border-2 border-gray-900 font-semibold px-28 py-6 rounded-md">
  Ajouter une residence ou une annonce
      </button>
    </div>
      <div class=" py-3  flex justify-center" >

      <button [routerLink]="['/home/contact']"class="bg-white-200     hover:bg-blue-600
      to-gray-500   text-gray-900 border-2 border-gray-900 font-semibold px-28 py-6 rounded-md">
     Contacter Nous
        </button>
      </div>


