<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./assets/images/r1.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Manouba<br>Top</h3>
            <a href="#" class="cta-btn">Show now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
       <!-- shop -->
       <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./assets/images/r3.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Mahdia<br>Top</h3>
            <a href="#" class="cta-btn">Show now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
       <!-- shop -->
       <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./assets/images/r3.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Mahdia<br>Top</h3>
            <a href="#" class="cta-btn">Show now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./assets/images/r2.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Mahdia<br>Top</h3>
            <a href="#" class="cta-btn">Show now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./assets/images/r3.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Mahdia<br>Top</h3>
            <a href="#" class="cta-btn">Show now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
       <!-- shop -->
       <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="./assets/images/r3.jpg" alt="">
          </div>
          <div class="shop-body">
            <h3>Mahdia<br>Top</h3>
            <a href="#" class="cta-btn">Show now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

<!-- /SECTION -->






<!-- /container -->

<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
