
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="  width:210px">
  <input class="input" placeholder="Localisation..."> <br> <br>
  <input class="input" placeholder="Home,Apartment..."> <br> <br>
  <select class="input-select">
    <option value="0">S1</option>
    <option value="1">s2</option>
    <option value="2">s3</option> </select> <br> <br>

   <input class="input" placeholder="your budget...">  <br> <br>
   <button class="button1">Search</button>

  </div>




