.button1 {

  background-color: #ffbb00; /* Green */
  border: none;
  color: white;
  padding: 10px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}



.button1:hover {
  background-color: #2abfda;
  color: white;
}






