.red-icon {
  color: red;
}
.green-icon {
  color: green;
}
#customers {

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 120%;

  }

  #customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #c1f1a5;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:turquoise ;
  color: white;
  }
  #customers td  {
    font-family: 'Times New Roman', Times, serif;
      }

