<app-navbaradmin></app-navbaradmin>

<div class="flex flex-row h-6 py-32 px-52">






  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>

  <div class="container">
    <form class="form-inline p-32  py-6 waves-light" mdbWavesEffect>
      <div class="md-form mt-0">

        <input
        class="form-control mr-sm-2" type="text" placeholder="type immobillier,ville...">
      </div>
    </form>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <!-- image search box -->




    </div>

    <div class="flex flex-col px-16 h-screen">
      <div class="flex-grow overflow-auto">
        <button mat-raised-button >
          <mat-icon>add</mat-icon>Ajouter
        </button>
        <table  class="  mat-elevation-z8 ">
          <thead>
            <tr>
              <th class="sticky top-0 px-6 py-3  text-center text-black bg-gray-300">Image</th>

              <th class="sticky top-0 px-6 py-3 text-black   text-center bg-gray-300">type</th>
              <th class="sticky top-0 px-6 py-3  text-center text-black bg-gray-300">Nom de logement</th>

              <th class="sticky top-0 px-6 py-3  text-center text-black bg-gray-300">ville</th>
              <th class="sticky top-0 px-6 py-3  text-center text-black bg-gray-300">Action</th>
            </tr>
          </thead>
          <tbody class="divide-y bg-green-100">
            <tr *ngFor="let data of maisons | orderBy : key:reverse | paginate: {itemsPerPage:5,currentPage:p}; ">
              <td class="px-6 py-4 text-center">
                  <img class="rounded-t-xl  w-12 h-12 object-cover" [src]="data.Photo">
                </td>
              <td class="px-6 py-4 text-center">{{data.type_immobilier}}</td>
              <td class="px-6 py-4 text-center">{{data.nom}}</td>

              <td class="px-6 py-4 text-center">{{data.annonceur.ville}}</td>
              <td class="text-center">



                  <button> <mat-icon class="red-icon" (click)="deleteMa(maison._id)">block</mat-icon>
                </button>
                <button
                 class=" p-6 hover:opacity-100 font-bold  hover:text-red-900 "              [routerLink]="['/home/description', data._id]"
              >
                details
                </button>
            </tr>





          </tbody>
          <pagination-controls (pageChange)="p =$event"></pagination-controls>







        </table>
      </div>
    </div>


  </div>
  </div>
