<div class="navbar">
   <!-- LOGO -->
   <div class="col-md-3">
    <div class="header-logo">
      <a routerLink="/" class="logo">
        <img src="./assets/images/LOGOO.png" alt="" height="80" width="80"/>
      </a>
    </div>
  </div>
  <!-- /LOGO -->
  <nav id="navigation">
    <!-- container -->
    <div class="container">
      <!-- responsive-nav -->
      <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav py-3">
          <li class="active"><a href="#">Login</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Contact Us</a></li>

          <li><a href="#">About Us</a></li>

        </ul>
        <!-- /NAV -->
      </div>
      <!-- /responsive-nav -->
    </div>
    <!-- /container -->
  </nav>
  <!-- /NAVIGATION -->

</div>

