
<div class="row" style="margin-top: 130px;">
  <div class="column">
    <img src="./assets/images/r1.jpg" alt="Snow" style=" margin-left: 250px; width:70%">
    <div class="desc" style=" margin-left: 300px;">Add a description of the image here</div>

  </div>
  <div class="column">
    <img src="./assets/images/r2.jpg" alt="Forest" style=" margin-left: 150px;width:70%">
    <div class="desc" style=" margin-left: 100px;">Add a description of the image here</div>

  </div>
  <div class="column">
    <img src="./assets/images/r3.jpg" alt="Mountains" style=" margin-left: 70px;width:70%">
  </div>
</div>
<div class="row">
  <div class="column">
    <img src="./assets/images/r1.jpg" alt="Snow" style=" margin-left: 250px; width:70%">
  </div>
  <div class="column">
    <img src="./assets/images/r2.jpg" alt="Forest" style=" margin-left: 150px;width:70%">
  </div>
  <div class="column">
    <img src="./assets/images/r3.jpg" alt="Mountains" style=" margin-left: 70px;width:70%">
  </div>
</div>
