<!-- Title group  -->
<div class="flex flex-row h-6 py-32 px-52">
  <!-- Form -->
  <div class="winner-wrapper px-3 h-12">
    <h1 class="mat-h1">Modifier Utilisateur</h1>

    <form
      [formGroup]="editForm"
      (ngSubmit)="updateUserForm()"
      #resetStudentForm="ngForm"
      novalidate
    >
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Name -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="nom" formControlName="nom" />
            <mat-error *ngIf="handleError('nom', 'required')">
              You must provide a<strong>nom</strong>
            </mat-error>
          </mat-form-field>
 <!-- Email -->
 <mat-form-field class="example-full-width">
  <input matInput placeholder="email" formControlName="email" />
  <mat-error *ngIf="handleError('email', 'required')">
    You must provide a<strong>email</strong>
  </mat-error>
</mat-form-field>



          <!-- telephone -->
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="telephone"
              formControlName="telephone"
            />
            <mat-error *ngIf="handleError('telephone', 'required')">
              You must provide a<strong>telephone</strong>
            </mat-error>
          </mat-form-field>
          <!-- ville -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ville" formControlName="ville" />
            <mat-error *ngIf="handleError('ville', 'required')">
              You must provide a<strong>ville</strong>
            </mat-error>
          </mat-form-field>
          <!-- ville -->
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="datenaissance"
              formControlName="datenaissance"
            />
            <mat-error *ngIf="handleError('datenaissance', 'required')">
              You must provide a<strong>date de naissance</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>


      <!-- Right block -->
      <!-- <mat-card>
      <div class="controlers-wrapper">
       Add subjects -->
      <!-- <mat-form-field class="multiple-items">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let subjectArray of subjectArray" [selectable]="selectable" [removable]="removable"
              (removed)="remove(subjectArray)">
              {{subjectArray.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add subject" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <i class="material-icons tooltip-info" matTooltip="Enter subject name and press enter to add subjects">
            info
          </i>
        </mat-form-field> -->

      <!-- Date of birth -->
      <!-- <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
            (dateChange)="formatDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="handleError('dob', 'required')">
            Date of birth is required
          </mat-error>
        </mat-form-field> -->

      <!-- Gender -->
      <!-- <div class="misc-bottom-padding">
          <mat-label>Gender:</mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
        </div> -->
      <!-- </div>
    </mat-card> -->


      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button (click)="updateUserForm()" mat-flat-button color="warn">
              Update
            </button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
</div>
<!-- <div class="bg-white shadow rounded-lg p-6">
    <form [formGroup]="editForm" (ngSubmit)="updateUserForm()" #resetStudentForm="ngForm" novalidate>

  <div class="grid lg:grid-cols-2 gap-6">
    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
      <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
        <p>
          <label for="name" class="bg-white text-gray-600 px-1">First name *</label>
        </p>
      </div>
      <p>
        <input id="name" autocomplete="false" tabindex="0" type="text" class="py-1 px-1 text-gray-900 outline-none block h-full w-full">
      </p>
    </div>
    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
      <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
        <p>
          <label for="lastname" class="bg-white text-gray-600 px-1">Last name *</label>
        </p>
      </div>
      <p>
        <input id="lastname" autocomplete="false" tabindex="0" type="text" class="py-1 px-1 outline-none block h-full w-full">
      </p>
    </div>
    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
      <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
        <p>
          <label for="username" class="bg-white text-gray-600 px-1">Username *</label>
        </p>
      </div>
      <p>
        <input id="username" autocomplete="false" tabindex="0" type="text" class="py-1 px-1 outline-none block h-full w-full">
      </p>
    </div>
    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
      <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
        <p>
          <label for="password" class="bg-white text-gray-600 px-1">Password *</label>
        </p>
      </div>
      <p>
        <input id="password" autocomplete="false" tabindex="0" type="password" class="py-1 px-1 outline-none block h-full w-full">
      </p>
    </div>
  </div>
  <div class="border-t mt-6 pt-3">
    <button class="rounded text-gray-100 px-3 py-1 bg-blue-500 hover:shadow-inner hover:bg-blue-700 transition-all duration-300">
      Save
    </button>
  </div>
</div> -->
