<!-- component -->
<div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 h-screen">
      <div class="max-h-96 md:h-screen">
        <img class="w-screen h-screen object-cover object-top" src="assets/images/maison.jpg">
      </div>
      <div class="flex bg-gray-100 p-10">
        <div class="mb-auto mt-auto max-w-lg">
          <h1 class="text-3xl uppercase">Quel est notre rôle ?</h1>
          <p>Le rôle de notre site est d'accompagner votre projet immobilier. Que vous souhaitiez mettre en location ou louer un logement notre site  sera votre interlocuteur principal  .
            Pour toutes ces démarches, le rôle de notre site est de vous accompagner. Ayez à l'esprit qu'en faisant appel à une agence, vous aurez des frais, dont le montant peut varier du tout au tout, en fonction de votre interlocuteur .
            Pour mettre en location un bien immobilier, l’intérêt de passer par notre site est le gain de temps. Grâce à son expertise, elle trouve un locataire fiable, et elle gère la location par la suite, si vous le souhaitez. Le site  peut également vous conseiller sur le montant du loyer et les règles à respecter en tant que bailleur .
            Enfin, les agences sont au fait des réglementations et des évolutions légales, et travaillent à préserver vos intérêts.
            Pour devenir locataire d’un appartement ou d’une maison, il est intéressant de passer par notre plateforme pour trouver le bien. En effet, vous allez trouver  certainement plusieurs logements qui correspondent à vos critères. Nous sommes  également de bon conseil pour monter un dossier de candidature rassurant pour les propriétaires. Enfin, nous sommes  l’intermédiaire entre votre propriétaire et vous, et veillent au respect de la réglementation dès l’état des lieux .
            </p>
          <button class="bg-danger rounded-md py-3 px-7 mt-6 text-white"  [routerLink]="['/home/contact']">Contacter Nous </button>
        </div>
      </div>
    </div>
  </div>
